body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("../imagem/fundo.jpg") no-repeat center;
  background-size: cover;
}

.tela_geral {
  position: relative;
  background: white;
  height: 550px;
  width: 75%;
  overflow: auto;
  background: rgba(3,3,3,.8);
  overflow: hidden;
  box-shadow: 10px 10px 30px #000;
}
