/******* Base Styles *******/

#display p {
  line-height: 1.3em;
  font-size: 60px;
  font-weight: bold;
  color: black;
}

#score {
  line-height: 1.3em;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.container-fluid{
  display: flex;
  margin-top: 35px;
}

/******* Main Styles *******/

#working-screen{
  display: none;
}

#display {
  margin: 3% auto;
  width: 350px;
  float: none;
  background: #D1C4E9 ;
  border-radius: 10px;
  height: 400px;
  padding-top: 8px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 200px;
  border: 3px solid #522d5b;
  -webkit-box-shadow: 0 0 0 3px #d7385e, 0 0 0 6px #fb7b6b;
  -moz-box-shadow: 0 0 0 3px #d7385e, 0 0 0 6px #fb7b6b;
  box-shadow: 0 0 0 3px #d7385e, 0 0 0 6px #fb7b6b;
}

#progressbar {
  width: 1%;
  height: 20px;
  background: #455A64 ;
  border-radius: 10px;
}

#controls {
  font-size: 1em;
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}

#controls button {
  background: #D6EAF8 ;
  width: 110px;
  height: 70px;
  padding-top: -15px;
  border: 2px solid black;
}

#tick {
  margin-top: 0;
  color: green;
}

#cross {
  color: red;
  margin-top: 0;
}

#score {
  font-size: 30px;
  padding-top: 20px;
  font-weight: bold;
}

.bt{
  margin-top: -10px;
  margin-bottom: -10px;
}
#tela_jogo_p2 span {
  font-size: 45px;
  font-weight: bold;
}

/*botão_jogar*/
#bt_comecar_02{
  letter-spacing: -1px;
  padding-top: -50px;
  margin-left: -10px;
  margin-top: 5px;
}
.bt_comecar_jogo_02 {
    background-color: transparent;
    border: 2px solid pink;
    color: pink;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.bt_comecar_jogo_02:hover, .bt_comecar_jogo_02:focus {
    -webkit-box-shadow: inset 0px 0px 8px 3px #ff94b8;
    box-shadow: 0px 0px 10px 3px #ff94b8, inset 0px 0px 10px 3px #ff94b8;
    border-color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff94b8, 0 0 40px #ff94b8, 0 0 50px #ff94b8, 0 0 60px #ff94b8, 0 0 70px #ff94b8
}

.informacao_jogo p{
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.informacao_jogo {
 width: 140px;
}
